*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: lobster;
    src: url(../Lobster/Lobster/Lobster-Regular.ttf);
}
/* home page */
.logo{
    width: 100px;
    height: 70px;
    margin-top: 10px;
    margin-left: 40px;
}
.brand_name{
    position: relative;
    top: -60px;
    left: 85px;
    font-family: lobster;
    font-size: 20px;

}
.nav_brand{
    display: inline-block;
}
.navbar ul{
    float: right;
}
.navbar ul li{
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navbar ul li a:hover{
    color: aqua;
    letter-spacing: 4px;
    transition-duration: .6s;
}
.cart{
    position: relative;
    top: -15px;
    left: -7px;
    background-color: black;
    color: white;
    padding: 0px 5px;
    border-radius: 50%;
}
.navbar{
    height: 80px;
}

.img{
    width: 100%;
}
.background_text{
    position: absolute;
    top: 250px;
    left: 100px;

}
.perfect{
    font-family: lobster;
    font-weight: unset;
    margin-bottom: 15px;

}
.shop{
    border-radius:4px ;
    border: 1px solid #3997bf;
    padding: 10px 20px;
    margin-top: 15px;
    color:#3997bf ;
}
.shop:hover{
    background-color: #3997bf;
    color: white;
    cursor: pointer;
}
.product{
    text-align: center;
    margin-top: 50px;
}
.divided{
    max-width: 100px;
    margin: auto;
    border: 2px solid #3997bf;
    margin-bottom: 50px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 50px;
    margin-right: 50px;
    grid-gap: 40px;
    text-align: center;
}
.product_img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0,0,0,.25);
}
.add_to_cart{
    border-radius: 20px;
    padding: 10px;
    border: 0px;
    background-color: #e2eaec;
}
.add_to_cart:hover{
    cursor: pointer;
}
.discount{
    text-decoration: line-through;
    font-size: small;
    color: red;
}
.about{
    background-image: url(../image/bg2.jpg);
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: white;
    text-align: center;
}
.about div{
    padding: 70px;
}
.divid{
    width: 40px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.packaging{
    margin-top: 50px;
    margin-left: 80px;
}
.packaging_img{
    border-radius: 5px;
    width: 40%;
    float: left;
}
.packaging div{
    position: relative;
    left: 50px;
    width: 90%;
}
.header_packaging{
    text-transform: uppercase;
    margin-top: 20px;
}
.fa-circle-arrow-right{
    display: inline-block;
    padding-right: 20px;
}
.clear{
    clear: both;
}
.support_text{
    display: inline-block;
}
.support{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    background-image: linear-gradient(to left,#c0c0aa,#1cefff);
    padding: 30px;
    padding-left: 70px;
}
.support_icon{
    padding-right: 20px;
}
.support_header{
    font-size: 20px;
    font-weight: bold;
    
}

.footer_center{
   width: 430px;
   margin: auto;
   padding-top: 50px; 
}
.footer_center a{
    margin: 0px 20px;
    text-decoration: none;
    color: white;
}
.footer{
    background-color: rgb(40, 39, 39);

}
.designed_by{
    text-align: center;
    color: white;
    padding: 20px 0px;
}
.social_icon{
    text-align: center;
    padding-bottom: 60px;
    
}
/* home page */

/* contact page */
.contact{
    background-image: linear-gradient(to left,#c0c0aa,#1cefff);
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
}
.contact_p{
    color: black;
    padding:30px;
    text-align: center; 
}
.address{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.address_text{
    background-color: #e2eaec;
    padding: 50px 50px;
    border-radius: 30px;
    
}
.address_header{
    font-weight: bold;  
}

.address_text2{
    background-color: #e2eaec;
    padding: 50px 30px;
    border-radius: 30px;
}
.contact_us{
    margin: 75px 0px 50px 100px;
}

.form_grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
    /* border: 1px solid black; */
}
.textbox{
    width: 400px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
}
.message_box{
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    width: 400px;
    height: 120px;
}
.send{
    text-align: right;
    margin-right: 10px;
}
.send button{
    margin-top: 10px;
    padding: 10px 40px;
}
/* contact page */

/* shop page */

.shop_page{
    background-image: linear-gradient(to left,#c0c0aa,#1cefff);
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    height: 200px;
    position: relative;
}
.shop_p{
    color: black;
    padding:30px;
    text-align: center; 
}
.grid_shop{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 100px;
    margin-right: 100px;
    grid-gap: 20px;
    text-align: center;
    position: relative;
    top: -160px;

}
.product_img_shop{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0,0,0,.25);
    height: 300px;
    width: 245px;
}
.support_shop{
    margin-top: -150px;
}

/* About page */

.about_page{
    margin-top: 50px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 80px;
}
.about_img{
    border-radius: 5px;
    margin-right: 40px;
    width: 500px;
    height: 350px;
}
.about_h2{
    text-align: center;

}
.about_divided{
    max-width: 100px;
    margin: auto;
    border: 2px solid #3997bf;
    margin-bottom: 30px;
    margin-top: 10px;
}
.about_p{
    word-spacing: 10px;
    font-size: 20px;
}
.about_span{
    padding-left: 50px;
}
.about_p2{
    word-spacing: 10px;
    font-size: 20px;
}
.about_img2{
    margin-left: 20px;
    border-radius: 5px;
    width: 550px;
    height: 300px;
}
.about_img4{
    margin-left: 20px;
    border-radius: 5px;
    width: 550px;
    height: 400px;
}

/* blog */
.blog_page{
    margin-top: 50px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 80px;
}
.blog_img{
    border-radius: 20px;
    margin-right: 40px;
    width: 300px;
    height: 250px;
}
.blog_h2{
    margin-bottom: 30px;
}
.blog_p{
    word-spacing: 10px;
}
.blog_button{
    border-radius:4px ;
    border: 1px solid #3997bf;
    padding: 10px 20px;
    margin-top: 50px;
    color:#3997bf ; 
}
.blog_button:hover{
    background-color: #3997bf;
    color: white;
    cursor: pointer;
}
.blog_hr{
    margin: auto;
    border:1px solid black;
    max-width: 1150px;
    margin-bottom: 50px;
    margin-top: 10px;
}